In [3]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
#from geopy.distance import great_circle
import pygmaps
from scipy.spatial import ConvexHull
from datetime import datetime

In [5]:
data_of_buses=pd.read_csv('/home/b/Desktop/Gi/gis_project/data/356_EW/1july/150218661.csv')

In [6]:
data_of_buses.head()
data_of_buses_copy=data_of_buses.copy()

In [11]:
#data_of_buses_copy['Date'], data_of_buses_copy['Time'] = data_of_buses_copy['IST_DATE'].str.split(' ', 1).str
Cleaned_data=data_of_buses_copy[['LAT','LONGITUDE','IST_TIME','Acc_distance']].copy()
(Cleaned_data).head()

         LAT  LONGITUDE  IST_TIME  Acc_distance
0  12.924996  77.592804  00:22:22      12370232
1  12.924996  77.592804  00:52:15      12370232
2  12.924996  77.592804  01:22:08      12370232
3  12.924996  77.592804  01:52:01      12370232
4  12.925045  77.592834  02:29:45      12370232

In [13]:
Cleaned_data_array=Cleaned_data.as_matrix()

In [14]:
Cleaned_data_array

array([[12.924996, 77.592804, '00:22:22', 12370232],
       [12.924996, 77.592804, '00:52:15', 12370232],
       [12.924996, 77.592804, '01:22:08', 12370232],
       ...,
       [12.924724000000001, 77.59225500000001, '22:45:36', 12535554],
       [12.924724000000001, 77.59225500000001, '23:15:29', 12535554],
       [12.924724000000001, 77.59225500000001, '23:45:22', 12535554]], dtype=object)

In [16]:
size=len(Cleaned_data)
size

3713

In [17]:
Data_Train=pd.DataFrame(columns=['Start_Lat','Start_Longitude','Start_Time','End_Lat','End_Longitude','End_Time','Distance','Flag','Density','Density_flag'])
Data_Train

Empty DataFrame
Columns: [Start_Lat, Start_Longitude, Start_Time, End_Lat, End_Longitude, End_Time, Distance, Flag, Density, Density_flag]
Index: []

In [ ]:

#Data_Train=pd.DataFrame(columns=['Start_Lat','Start_Longitude','Start_Time','End_Lat','End_Longitude','End_Time','Distance','Flag'])
#print(Data_Train)

S_lat=Cleaned_data_array[0][0]
S_long=Cleaned_data_array[0][1]
S_time=Cleaned_data_array[0][2]
E_lat=Cleaned_data_array[0][0]
E_long=Cleaned_data_array[0][1]
E_time=Cleaned_data_array[0][2]
Acc_start=Cleaned_data_array[0][3]
Acc_end=Cleaned_data_array[0][3]
Flag_2_count=1
Density_count=1

FMT = '%H:%M:%S'
time_diff=0
flag=1
for i in range(1,size):
       # time1=(Cleaned_data_array[i][2])
        time2=(Cleaned_data_array[i][2])
        tdelta = abs(datetime.strptime(S_time, FMT) - datetime.strptime(time2, FMT))
        time_diff=tdelta.total_seconds()
        if time_diff>120 :
            Acc_end=Cleaned_data_array[i-1][3]
            E_time= Cleaned_data_array[i-1][2]
            E_lat=Cleaned_data_array[i-1][0]
            E_long=Cleaned_data_array[i-1][1]
            diff=Acc_end-Acc_start
            if diff==0 :
                S_lat=Cleaned_data_array[i-1][0]
                S_long=Cleaned_data_array[i-1][1]
                S_time=Cleaned_data_array[i-1][2]
                Acc_start=Cleaned_data_array[i-1][3]
            else :
                    if diff<167 :
                        leng=len(Data_Train)
                        if leng==0 :
                              Data_Train=Data_Train.append({'Start_Lat':S_lat,'Start_Longitude':S_long,'Start_Time':S_time,'End_Lat':E_lat,'End_Longitude':E_long,'End_Time':E_time,'Distance':diff,'Flag':flag},ignore_index=True)
                        else :
                           # print (leng)
                            lat=(int)((Data_Train.iloc[leng-1][3])*1000000)
                          #  print (lat)
                            long=(int)((Data_Train.iloc[leng-1][4])*1000000)
                            if lat==(int)(S_lat*1000000) and long ==(int)(S_long*1000000) :
                                flag=flag+1
                            else:
                                flag=1
                            Data_Train=Data_Train.append({'Start_Lat':S_lat,'Start_Longitude':S_long,'Start_Time':S_time,'End_Lat':E_lat,'End_Longitude':E_long,'End_Time':E_time,'Distance':diff,'Flag':flag},ignore_index=True)
                                
                            
                        
                    S_lat=Cleaned_data_array[i-1][0]
                    S_long=Cleaned_data_array[i-1][1]
                    S_time=Cleaned_data_array[i-1][2]
                    Acc_start=Cleaned_data_array[i-1][3]

          
                
            
            
                
                
            
            
    

    
    
    
     #Data_Train=Data_Train.append({'Start_Lat':S_lat,'Start_Longitude':S_long,'Start_Time':S_time,'End_Lat':E_lat,'End_Longitude':E_long,'End_Time':E_time},ignore_index=True)

In [1]:
"""
Data_Train=pd.DataFrame(columns=['Start_Lat','Start_Longitude','Start_Time','End_Lat','End_Longitude','End_Time','Distance','Flag'])
print(Data_Train)

S_lat=Cleaned_data_array[0][0]
S_long=Cleaned_data_array[0][1]
S_time=Cleaned_data_array[0][2]
E_lat=Cleaned_data_array[0][0]
E_long=Cleaned_data_array[0][1]
E_time=Cleaned_data_array[0][2]
Acc_start=Cleaned_data_array[0][3]
Acc_end=Cleaned_data_array[0][3]
FMT = '%H:%M:%S'
time_diff=0
flag=1
for i in range(1,size):
       # time1=(Cleaned_data_array[i][2])
        time2=(Cleaned_data_array[i][2])
        tdelta = abs(datetime.strptime(S_time, FMT) - datetime.strptime(time2, FMT))
        time_diff=tdelta.total_seconds()
        if time_diff>600 :
            Acc_end=Cleaned_data_array[i-1][3]
            E_time= Cleaned_data_array[i-1][2]
            E_lat=Cleaned_data_array[i-1][0]
            E_long=Cleaned_data_array[i-1][1]
            diff=Acc_end-Acc_start
            if diff==0 :
                S_lat=Cleaned_data_array[i-1][0]
                S_long=Cleaned_data_array[i-1][1]
                S_time=Cleaned_data_array[i-1][2]
                Acc_start=Cleaned_data_array[i-1][3]
            else :
                    if diff<1667:
                        leng=len(Data_Train)
                        if leng==0 :
                              Data_Train=Data_Train.append({'Start_Lat':S_lat,'Start_Longitude':S_long,'Start_Time':S_time,'End_Lat':E_lat,'End_Longitude':E_long,'End_Time':E_time,'Distance':diff,'Flag':flag},ignore_index=True)
                        else :
                           # print (leng)
                            lat=(int)((Data_Train.iloc[leng-1][3])*1000000)
                          #  print (lat)
                            long=(int)((Data_Train.iloc[leng-1][4])*1000000)
                            if lat==(int)(S_lat*1000000) and long ==(int)(S_long*1000000) :
                                flag=flag+1
                            else:
                                flag=1
                            Data_Train=Data_Train.append({'Start_Lat':S_lat,'Start_Longitude':S_long,'Start_Time':S_time,'End_Lat':E_lat,'End_Longitude':E_long,'End_Time':E_time,'Distance':diff,'Flag':flag},ignore_index=True)
                                
                            
                        
                    S_lat=Cleaned_data_array[i-1][0]
                    S_long=Cleaned_data_array[i-1][1]
                    S_time=Cleaned_data_array[i-1][2]
                    Acc_start=Cleaned_data_array[i-1][3]

          
                
            
            
           """     
                
            
            
    

    
    
    
     #Data_Train=Data_Train.append({'Start_Lat':S_lat,'Start_Longitude':S_long,'Start_Time':S_time,'End_Lat':E_lat,'End_Longitude':E_long,'End_Time':E_time},ignore_index=True)

"\nData_Train=pd.DataFrame(columns=['Start_Lat','Start_Longitude','Start_Time','End_Lat','End_Longitude','End_Time','Distance','Flag'])\nprint(Data_Train)\n\nS_lat=Cleaned_data_array[0][0]\nS_long=Cleaned_data_array[0][1]\nS_time=Cleaned_data_array[0][2]\nE_lat=Cleaned_data_array[0][0]\nE_long=Cleaned_data_array[0][1]\nE_time=Cleaned_data_array[0][2]\nAcc_start=Cleaned_data_array[0][3]\nAcc_end=Cleaned_data_array[0][3]\nFMT = '%H:%M:%S'\ntime_diff=0\nflag=1\nfor i in range(1,size):\n       # time1=(Cleaned_data_array[i][2])\n        time2=(Cleaned_data_array[i][2])\n        tdelta = abs(datetime.strptime(S_time, FMT) - datetime.strptime(time2, FMT))\n        time_diff=tdelta.total_seconds()\n        if time_diff>600 :\n            Acc_end=Cleaned_data_array[i-1][3]\n            E_time= Cleaned_data_array[i-1][2]\n            E_lat=Cleaned_data_array[i-1][0]\n            E_long=Cleaned_data_array[i-1][1]\n            diff=Acc_end-Acc_start\n            if diff==0 :\n                S_lat=Cleaned_data_array[i-1][0]\n                S_long=Cleaned_data_array[i-1][1]\n                S_time=Cleaned_data_array[i-1][2]\n                Acc_start=Cleaned_data_array[i-1][3]\n            else :\n                    if diff<1667:\n                        leng=len(Data_Train)\n                        if leng==0 :\n                              Data_Train=Data_Train.append({'Start_Lat':S_lat,'Start_Longitude':S_long,'Start_Time':S_time,'End_Lat':E_lat,'End_Longitude':E_long,'End_Time':E_time,'Distance':diff,'Flag':flag},ignore_index=True)\n                        else :\n                           # print (leng)\n                            lat=(int)((Data_Train.iloc[leng-1][3])*1000000)\n                          #  print (lat)\n                            long=(int)((Data_Train.iloc[leng-1][4])*1000000)\n                            if lat==(int)(S_lat*1000000) and long ==(int)(S_long*1000000) :\n                                flag=flag+1\n                            else:\n                                flag=1\n                            Data_Train=Data_Train.append({'Start_Lat':S_lat,'Start_Longitude':S_long,'Start_Time':S_time,'End_Lat':E_lat,'End_Longitude':E_long,'End_Time':E_time,'Distance':diff,'Flag':flag},ignore_index=True)\n                                \n                            \n                        \n                    S_lat=Cleaned_data_array[i-1][0]\n                    S_long=Cleaned_data_array[i-1][1]\n                    S_time=Cleaned_data_array[i-1][2]\n                    Acc_start=Cleaned_data_array[i-1][3]\n\n          \n                \n            \n            \n           "

In [2]:
len(Data_Train)

NameError: name 'Data_Train' is not defined

In [194]:
Data_Train

,Start_Lat,Start_Longitude,Start_Time,End_Lat,End_Longitude,End_Time,Distance,Flag
0,12.925045,77.592834,06:26:28,12.924743,77.592957,06:50:07,109,1
1,12.925045,77.592834,06:26:28,12.924743,77.592957,06:50:07,109,1
2,12.924821,77.592995,07:19:40,12.923247,77.589478,07:29:37,657,1
3,12.917437,77.572769,07:39:36,12.917115,77.583344,07:49:33,1259,1
4,12.916708,77.604622,07:59:31,12.916734,77.609459,08:09:29,522,1
5,12.916734,77.609459,08:09:29,12.916550,77.614120,08:19:26,536,2
6,12.916550,77.614120,08:19:26,12.914753,77.624374,08:29:05,1237,3
7,12.914753,77.624374,08:29:05,12.911294,77.626373,08:34:53,459,4
8,12.836495,77.657753,08:55:24,12.836142,77.657265,09:05:22,212,1
9,12.836142,77.657265,09:05:22,12.838906,77.658836,09:14:59,434,2
10,12.838906,77.658836,09:14:59,12.845685,77.667664,09:23:18,1513,3
11,12.911709,77.625870,09:33:06,12.916184,77.616646,09:43:04,1247,1
12,12.916184,77.616646,09:43:04,12.916583,77.605476,09:53:04,1211,2
13,12.916934,77.586494,10:03:03,12.917246,77.573898,10:13:00,1432,1
14,12.917246,77.573898,10:13:00,12.917129,77.585289,10:22:57,1535,2
15,12.916739,77.603355,10:32:36,12.916632,77.614609,10:42:33,1149,1
16,12.916632,77.614609,10:42:33,12.917107,77.621742,10:51:53,766,2
17,12.917107,77.621742,10:51:53,12.911779,77.626114,10:57:01,787,3
18,12.836003,77.657143,11:16:07,12.836077,77.657646,11:26:04,103,1
19,12.845845,77.661575,11:36:02,12.846303,77.668930,11:39:21,905,1
20,12.917377,77.573883,12:19:17,12.917205,77.580116,12:29:14,1092,1
21,12.916278,77.616966,12:49:00,12.914754,77.624390,12:58:18,993,1
22,12.914754,77.624390,12:58:18,12.909543,77.627411,13:00:27,632,2
23,12.911895,77.625793,13:40:00,12.916062,77.623207,13:49:08,473,1
24,12.916062,77.623207,13:49:08,12.916407,77.623093,14:01:55,108,2
25,12.916407,77.623093,14:01:55,12.916417,77.610489,14:11:52,1381,3
26,12.917344,77.573898,14:30:27,12.917550,77.573875,14:39:55,1169,1
27,12.916947,77.621735,14:59:50,12.911964,77.626060,15:09:48,896,1
28,12.836137,77.657295,15:28:23,12.838812,77.658745,15:38:14,349,1
29,12.838812,77.658745,15:38:14,12.845494,77.664963,15:48:11,1243,2
30,12.845494,77.664963,15:48:11,12.846259,77.669044,15:50:40,460,3
31,12.911310,77.626190,16:00:38,12.919096,77.622742,16:10:36,1193,1
32,12.919096,77.622742,16:10:36,12.911879,77.626091,16:20:33,717,2
33,12.911879,77.626091,16:20:33,12.909653,77.627357,16:25:12,224,3
34,12.836061,77.657158,17:05:04,12.838417,77.658699,17:14:52,317,1
35,12.838417,77.658699,17:29:48,12.839402,77.659584,17:46:44,102,2
36,12.839402,77.659584,17:46:44,12.845499,77.664803,17:56:43,1202,3
37,12.845499,77.664803,17:56:43,12.846196,77.668747,17:58:32,357,4
38,12.902499,77.631699,18:08:29,12.914419,77.624191,18:18:28,1626,1
39,12.914419,77.624191,18:18:28,12.916277,77.618042,18:28:25,718,2
40,12.916277,77.618042,18:28:25,12.916430,77.610321,18:38:13,798,3
41,12.916430,77.610321,18:38:13,12.916559,77.600311,18:48:12,1077,4
42,12.916559,77.600311,18:48:12,12.923196,77.593651,18:58:09,1438,5
43,12.923196,77.593651,18:58:09,12.924863,77.593216,19:08:07,420,6
44,12.924863,77.593216,19:08:07,12.924724,77.592255,19:18:04,110,7

# Congestion Point Plot

In [164]:
# create a object
mymap_1_111_1=pygmaps.pygmaps(12.91735500,77.62260400,180)

In [165]:
list(Data_Train)

['Start_Lat',
 'Start_Longitude',
 'Start_Time',
 'End_Lat',
 'End_Longitude',
 'End_Time',
 'Distance']

In [166]:
Data_Train_array=Data_Train.as_matrix()
Train_size=len(Data_Train_array)

In [167]:
  for  i in range(0,Train_size):
        mymap_1_111_1.addpoint(Data_Train_array[i][0], Data_Train_array[i][1],"#ffffff")
        path=[(Data_Train_array[i][0],Data_Train_array[i][1]),(Data_Train_array[i][3],Data_Train_array[i][4])]
        mymap_1_111_1.addpath(path,"#ff0000")

In [168]:
mymap_1_111_1.draw('/home/b/Desktop/Gis_project/Gis_project/plots/Congestion_points.html')